.containerBlog{
    position: relative;
}
.blog h1{
    font-size: 700px;
    margin: 0;
    position: relative;

}
.cardsBlog{
    position: absolute;
    top: 65%; 
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center; 
    z-index: 1;
}