.card {
  background-color: white;
  width: 20%;
  height: 450px;
  margin: 1%;
  border-radius: 50px;
  padding: 0 10px 0 10px;
  border: solid 2px black;
}
.card img {
  width: 100%;
  height: 150px;
  border-radius: 50px;
  object-fit: cover;
  margin-top: 10%;
}
.card h2{
  color: #93ac37;
}

.card h2,
.card p {
  margin-left: 5%;
  margin-right: 5%;
}
