.containerFooter img {
  margin: 0 0 0 7%;
}

.content {
  color: white;
  padding: 7%;
  margin: 0 5% 5% 5%;
  background-color: #93ac37;
  border-radius: 50px;
}
.content h1 {
  text-align: center;
  margin: 0 0 3% 0;
}
.button {
  text-align: center;
}
.button input {
  text-align: center;
  width: 30%;
  height: 50px;
  border-radius: 30px;
  border: solid 1px grey;
  transition: transform 0.3s ease, color 0.3s ease;
}
.button button {
  width: 10%;
  height: 50px;
  border-radius: 30px;
  border: none;
  background-color: #edffad;
  font-family: "Raleway", serif;
  font-weight: 500;
  margin-left: 1%;

  transition: transform 0.3s ease, color 0.3s ease;
}
.button button:hover {
  transform: translateY(-15%);
}
.button input:hover {
  transform: translateY(-15%);
}

hr {
  margin-top: 3%;
  width: 60%;
}
.navList {
  display: flex;
  list-style: none;
  text-align: center;
  margin-top: 3%;
  justify-content: center;
  
}
.navList li {
  margin-right: 5%;
  transition: transform 0.3s ease, color 0.3s ease;

}
.navList a {
  text-decoration: none;
  color: white;
}
.navList li:hover {
  transform: translateY(-15%);
}
